{% extends 'app/base.html' %}
{% load static %}
{% block title %}Headphones{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
       <a href="{%url 'headphone' %}" class="list-group-item list-group-item-action" aria-current="true">All Headphones</a>
       <a href="{%url 'headphonedata' 'Boat'%}" class="list-group-item list-group-item-action" aria-current="true">Boat</a>
       <a href="{%url 'headphonedata' 'Boult'%}" class="list-group-item list-group-item-action" aria-current="true">Boult</a>
       <a href="{%url 'headphonedata' 'below'%}" class="list-group-item list-group-item-action" aria-current="true">Below 600</a>
       <a href="{%url 'headphonedata' 'above'%}" class="list-group-item list-group-item-action" aria-current="true">Above 600</a>
    </div> 
  </div>
  <div class="col-sm-9 ">
    <div class="row">
      {%for product in headphones%}
      <div class="col-6 text-center mb-5">
        <a href="{%url 'product-detail' product.id%}" class="btn">
          <div class="item">
            <img src="{{product.product_image.url}}" alt="" height="300" class="">
            <div class="fw-bold mt-3"><h5><b>{{product.brand}}</b></h5></div>
            <div class="fw-bold">Rs. {{product.discounted_price}}<br>
            <small class="fw-light text-decoration-line-through">{{product.selling_price}}></small></div>
          </div>
        </a>
        <hr>
      </div>
      {%endfor%}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}